@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

/*------------------------------------------------------------------------------
  reset PC
------------------------------------------------------------------------------*/
html,
input,
textarea,
select,
button {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif,  "slick", futura-pt;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;

}

html {
  color: $text;
  background: $white;
  font-size: 14px;
  line-height: 1.6;
  word-break: break-all;
}

body {
  background: $white;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: $text;
  text-decoration: none;
  transition: $transition01;
  @include pc {
    &:hover {
      opacity: .8;
    }
  }
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

@include placeholder($thinRed);

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

.inner-block {
  max-width: 1120px;
  padding: 0 30px;
  box-sizing: content-box;
  @include pc {
    margin: 0 auto;
  }
}

#wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

#container {
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 140px;
  margin-bottom: 100px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

dl,dt,dd {
  padding: 0;
  margin: 0;
}

.sec-title {
  font-size: 50px;
  color: $red;
  letter-spacing: 0.1rem;
  font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: italic;
text-align: center;
  
  span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: $text;
    font-family: "游ゴシック体";

  }
}



@include pc {
  .sp {
    display: none !important;
  }

  a[href^="tel:"] {
    pointer-events: none;
  }

  a,
  a::before,
  a::after,
  button {
    transition: $transition01;
  }
}


//独自font-family読み込み
@font-face {
 src: url(../font/slick.woff) format("woff"),
   url(../font/slick.ttf) format("opentype");
 font-family: "slick";
 font-weight: 500;
 font-display: swap;
}
@font-face {
 src: url(../font/NotoSansJP-Bold.otf) format("opentype");
 font-family: "Noto Sans JP";
 font-weight: 700;
 font-display: swap;
}




//SVGスプライトリセットCSS
.c-svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: top;
}

/*------------------------------------------------------------------------------
  reset SP
------------------------------------------------------------------------------*/
@include sp {
  body {
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
  }

  .inner-block {
    padding: 0 10px;
    width: auto;
  }

  #wrapper {
    min-width: 320px;
    position: relative;
    overflow: hidden;
  }

  input[type="submit"] {
    -webkit-text-size-adjust: 100%;
  }

  input,
  select,
  textarea {
    font-size: 16px !important;
  }

  .pc {
    display: none !important;
  }
}
