@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;


/* --------------------------------
about
----------------------------------- */


.about-catch-area {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 97px;

  p {
    font-size: 22px;
    color: $red;
    font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: italic;
padding-top: 30px;
  }
}

.menu-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: $red;
  margin-bottom: 80px;
  letter-spacing: 0.2em;
  span {
    display: block;
    font-size: 20px;
    color: black;
    font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: italic;
letter-spacing: 0.1em;
  }

}



#message {
  padding: 10px;

  .container {

    .message-title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin: 80px;
    }
   
  }


  .flex-cont {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 200px;

    img {
      width: 25%;
      height: 128px;
    }

    .message-cont__text {
      font-size: 16px;
      line-height: 2.5;
      margin-left: 127px;
    }
  }

}

@include sp {
  #message {

    .flex-cont {
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }

  }

  #message .flex-cont .message-cont__text {
    font-size: 16px;
    margin-left: 0;
    margin-top: 50px;
}

#message .flex-cont img {
  width:vw(400,1400);
  height: auto;
}
  
}

@include max($tab) {
  #message .flex-cont img {
    width: 64% !important;
  }
}
@include max($sm) {
  #message .container .message-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}
}




#profile {

  .flex-cont {
    display: flex;
    justify-content: center;

    .ceo-img-area {
      width: 24%;

    }

    .ceo-text-area {
      width: 49%;
      line-height: 1.9;
      margin-left: 118px;
      font-size: 16px;
      p {
        padding-bottom: 40px;
      }
    }
  }
}

@include sp {
  .flex-cont {
    flex-direction: column;
    align-items: center;
  }
  #profile .flex-cont .ceo-img-area {
    width: 100%;
    text-align: center;
}
.ceo-name .ceo-name__logo {
  justify-content: center;
}
.ceo-detail {
  width: 100%;
  display: inline-block;
  text-align: left;
  display: grid;
    justify-items: left;
    justify-content: center;
    margin-bottom: 50px;
}

#profile .flex-cont .ceo-text-area {
  margin-left: 0;
  width: 100%;
  padding: 10px;
}





}

.ceo-img-area {

  .ceo-name {
    h3 {
      display: flex;
      

      span {
        display: block;
      }
    }
  }

}

.ceo-name {

  .ceo-name__logo {
    display: flex;
    align-items: flex-start;
    margin-top: 31px;


    h3 {
      display: block;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-left: 21px;
      span {
        font-size: 16px;
        color: $red;
        font-weight: bold;
       
      }
    }
  }
}

.ceo-detail {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
  line-height: 1.7;
 
  li {
    list-style-type: none;
    position: relative;
    padding-left: 0.6em;
    }
li:before {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
    top: 0.6em;
    content: "";
    background: $red;
    
    }
    li:nth-child(n+3)::before {
      background: black;
    }

}

.follow-text {
  font-size: 20px;
  color: $red;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 52px;
  align-items: center;
  display: flex;
  justify-content: center;

}

.follow-text::before,
.follow-text::after {
  background: $red;
  border-radius: 5px;
  content: "";
  height: 2px;
  width: 30px;
}
.follow-text::before {
  transform: rotate(50deg);
}
.follow-text::after {
  transform: rotate(-50deg);
}

.sns-area {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  .sns-icon {
    margin-left: 50px;
    
  }
  .sns-icon:first-child {
    margin-left: 0;
    
  }
}

#history {
  margin: 0 auto;

  .history-desc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    padding: 16px;

    dt {
      width: 20%;
      padding-bottom: 20px;
    }
    dd {
      width: 80%;
      padding-bottom: 20px;
      span {
        display: block;
        padding-top: 20px;
      }
    }
  }
}

#history {
  margin-bottom: 125px;
 .container {
  max-width: 750px;
 }
}

#outline {

  .outline-desc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    border: 1px solid $gray;

    dt {
      width: 25%;
      padding: 22px 50px;
      border-bottom: 1px solid $gray;
      background: $thinRed2;
      text-align: center;
      border-right: 1px solid $gray;
    }
    dt:last-of-type {
      border-bottom: none;
    }
    
    
    dd {
      width: 75%;
      padding: 22px 50px;
      border-bottom: 1px solid $gray;
    }
    dd:last-child {
      border-bottom: none;
      
    }
  }
}

#outline {
  margin-bottom: 205px;
 .container {
  max-width: 800px;
 }
}

#member {
  margin-bottom: 150px;

  .container {

    .flex-cont {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;

      .member-img {
        width: 28%;
        img {
          width: 100%;
        }
      }

      
    }
  }




  .member-textarea {
    width: 45%;
    
    .member-text__name {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $gray;
      padding-bottom: 22px;
     
      h2 {
        font-size: 30px;
        font-weight: bold;
        margin-left: 12px;
      }

    }

    .member-text {
      padding-top: 21px;
      font-size: 16px;
      line-height: 1.9;
    }
  }
}

#member {

  .flex-cont {

    .top-member {
      margin-left: 26px;

      
    }
  }
}

#member {

  .flex-cont {

    .bottom-member {
      margin-right: 26px;
      padding-top: 130px;
    }
  }
}

.top-group {
  padding: 10px;
}

@include sp {
  .member-img {
    width:vw(400,1400) !important;
  }


  #member .flex-cont .bottom-member {
    margin-right: 0;
    padding-top: 0;
}
#member .flex-cont .top-member {
  margin-left: 0;
}
#member .member-textarea {
  width: 80%;
  margin-top: 60px;
}


#member {
  .bottom-cont {
    flex-direction: column-reverse;
  }
}


}

@include max($tab) {

  #member .container .flex-cont .member-img {
    width:vw(800,1400) !important;
}
 
}
@include max($sm) {

  #member .member-textarea .member-text__name h2 {
    font-size: 24px;
  }
 
}
@include max($tab) {

  .outline-desc {
    flex-direction: column;
    margin: 10px;

    dt {
      width: 100% !important;
      border-right: none !important;
    }
    dd {
      width: 100% !important;
      text-align: center;
    }
  }

  
 
}





