@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;


/* --------------------------------
media
----------------------------------- */

#media {

  .media-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    
  }
}

.media-cont__markarea {
  display: flex;
  border-bottom: 1px solid $gray;
  padding-bottom: 21px;
}

.media-title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  time {
    font-size: 18px;
    font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: italic;
  }

  h2 {
    font-size: 28px;
    color: $red;
    font-weight: bold;
  }

 
}

.media-cont__titlearea {
  display: flex;
  align-items: center;
}

.media-cont {
  width: 66%;
  margin-bottom: 80px;
}

.media-img {
  width: 34%;
  margin-left: 30px;
}

.media-cont__textarea {
  text-align: center;

  p {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
  text-align: left;
  margin-left: -110px;
  margin-top: 30px;

  }
 

}

.more-text {
  text-align: center;
  color: $red;
  font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: italic;
margin: 100px;

}


@include sp {

  #media .media-wrapper {
    flex-direction: column;
    align-items: center;
}

.media-img {
  width: 100%;
  margin-left: 0;
  text-align: center;
}
.media-cont {
  width: 100%;
  
}
.media-cont__textarea p {
  margin-left: 0;

}



}

